body {
    margin: 0;
    padding: 0;
    background-color: rgb(187, 187, 187);
}
.container {
    align-content: center;
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
}

.icon {
    padding: 20px;
    width: 60px;
    height: 60px;
}

.container .btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .btn:hover {
    background: rgb(26, 26, 26);
}

.container .btn:active {
    display: block;
    font-size: 16px;
    color:black;
    background: rgb(63, 63, 63)
}

.menu {
    display: none;
    width: 100%;
    background: #2f2f2f;
    font-size: 12px;
    text-align: center;
    position:sticky;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 20px;
    transition: all .3s ease;
}

.menu ul li:hover {
    transform: scale(1.2);
    background: #5a4f4d
}

.menu ul li a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button {
    all: unset;
}

.banners {
    padding: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #292929;
    color:rgb(0, 0, 0)
}

.banner {
    padding: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}
 h4 {

     width: 100%;
     text-align-last: center;
     border-radius: 5px;
     color: rgb(122, 122, 122);
}