
.container {
    align-content: center;
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
}

.icon {
    padding: 20px;
    width: 60px;
    height: 60px;
}

.container .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size-adjust:initial;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .btn:hover {
    background: rgb(26, 26, 26);
}

.container .btn:active {
    display: block;
    font-size: 16px;
    color:black;
    background: rgb(63, 63, 63)
}

.menu {
    display: none;
    width: 100%;
    background: #2f2f2f;
    font-size: 12px;
    text-align: center;
    position:sticky;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 20px;
    transition: all .3s ease;
}

.menu ul li:hover {
    transform: scale(1.2);
    background: #5a4f4d
}

.menu ul li a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
